@page
@model EduVault.Pages.FileTypes.CreateFileTypeModel
@{
}

<div class="form-container">
    <h2>Добавить тип файла</h2>
    <form method="post" asp-antiforgery="true">
        @Html.AntiForgeryToken()
        <div class="create-filetype-form-group">
            <input name="Input.Name" type="text" placeholder="Тип файла" required>
        </div>
        <div class="create-filetype-form-group" style="display: flex; gap: 0.8rem;">
            <button type="submit" class="btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Отмена</button>
        </div>
    </form>
 </div>
