@page
@model EduVault.Pages.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="form-container">
    <h2 style="margin-bottom: 1rem">Авторизация</h2>
    <form method="post" asp-antiforgery="true">
        <div class="auth-form-group">
            <input type="text" placeholder="Логин" style="padding: 1rem;" required>
        </div>
        <div class="auth-form-group">
            <input type="password" placeholder="Пароль" style="padding: 1rem;" required>
        </div>
        <div class="auth-form-group" style="display: flex; gap: 0.8rem; width:100%">
            <button type="submit" class="btn-primary" style="width:50%">Войти</button>
            <button type="button" class="btn-alt" style="width:50%">Войти в УЗ ТюмГУ</button>
        </div>
    </form>
</div>
