@page
@model EduVault.Pages.TableModel
@{
    ViewData["Title"] = "Справочник";
}

<div style="display: grid; grid-template-columns: 1fr auto; gap: 2rem; height: calc(100vh - 100px);">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ИД</th>
                    <th>Название</th>
                    <th>Тип файла</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="clickable-row" onclick="window.location.href='/Card?id=@item.Id'">
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.FileType</td>
                        <td>@item.CreationDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="filter-panel">
        <button class="btn-alt" style="font-size: 120%">Создать карточку</button>

        <h3>Фильтры</h3>
        <div class="form-group">
            <label>Глобальный поиск:</label>
            <input type="text" placeholder="Поиск по всем доступным полям">
        </div>
        <div class="form-group">
            <label>ИД:</label>
            <input type="number">
        </div>
        <div class="form-group">
            <label>Название:</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Дата создания</label>
            <br />
            <div style="display:flex;">
                <div style="display:inline; width:50%; padding-right: 3px">
                    <label>c:</label>
                    <input type="datetime-local">
                </div>
                <div style="display:inline; width:50%; padding-left: 3px">
                    <label>до:</label>
                    <input type="datetime-local">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Тип файла:</label>
            <select>
                <option>Все</option>
                <option>Тип файла 1</option>
                <option>Тип файла 2</option>
            </select>
        </div>

        <button class="btn-primary" style="margin-top: auto; font-size: 120%">Поиск</button>
    </div>
</div>

@section Scripts {
    <script>
        function handleRowClick(id) {
            window.location.href = `/Card?id=${id}`;
        }
    </script>
}
