@page "/Records/Record/{mode}/{id?}"
@model EduVault.Pages.Records.RecordModel
@{
    ViewData["Title"] = "Карточка документа";
}

<div class="record-container">
    <form method="post" asp-antiforgery="true">
        <div>
            <div class="card-actions">
                <button type="submit" asp-page-handler="Save" class="btn-primary">@(Model.Mode == "create" ? "Создать" : "Сохранить") карточку</button>
                <button class="btn-primary">Открыть файл</button>
                <button class="btn-primary">Обновить файл</button>
                <button class="btn-secondary">Удалить файл</button>
                <button class="btn-secondary">Удалить карточку</button>
                <!--<div class="card-info" style="margin-right: 0; margin-left: auto;">ИД: 27</div>-->
            </div>

            <div class="card-content">
                <fieldset class="form-group">
                    <legend>Базовые поля</legend>
                    @if (Model.Mode == "edit")
                    {
                        <input asp-for="Input.Id" type="text" placeholder="Id" readonly>
                    }
                    <div class="card-form-group">
                        <label>Название:</label>
                        <input asp-for="Input.Name" type="text" placeholder="Имя" required>
                    </div>
                    <div class="card-form-group">
                        <label>Тип файла:</label>
                        <select asp-for="Input.FileType"
                        asp-items="@(new SelectList(Model.FileTypes, "Id", "Name"))"
                        class="form-control card-form-group" required>
                            <option value="">-- Выберите тип файла --</option>
                        </select>
                    </div>
                    <div>
                        <label>Файл:</label>
                        <input asp-for="Input.FilePath" type="text" placeholder="Файл" required>
                    </div>
                    @if (Model.Mode == "edit")
                    {
                        <div class="card-form-group">
                            <label>Автор карточки:</label>
                            <input type="text" asp-for="Input.RecordAuthor" readonly>
                        </div>
                        <div class="card-form-group">
                            <label>Дата создания карточки:</label>
                            <input type="date" asp-for="Input.RecordCreationDate" readonly>
                        </div>
                    }
                </fieldset>
            </div>
        </div>
    </form>

    <div class="rights-panel">
        <div style="display:flex;">
            <h3 style="display:inline;">Права доступа</h3>
            <button class="btn-alt" style="padding: 0.2rem 0.5rem; display:inline; margin-left: auto; margin-right: 0;">+</button>
        </div>
        <div class="rights-table-wrapper">
            <table class="rights-table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Тип прав</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Антон Епифанцев</td>
                        <td>Изменение</td>
                        <td>
                            <button class="btn-secondary" style="padding: 0.2rem 0.5rem;">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Чипак Данила</td>
                        <td>Полный доступ</td>
                        <td>
                            <button class="btn-secondary" style="padding: 0.2rem 0.5rem;">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Иван Петров</td>
                        <td>Полный доступ</td>
                        <td>
                            <button class="btn-secondary" style="padding: 0.2rem 0.5rem;">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Все пользователи</td>
                        <td>Чтение</td>
                        <td>
                            <button class="btn-secondary" style="padding: 0.2rem 0.5rem;">×</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
